.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

html{
    padding: 50px;
}

body{
    background-color: rgb(238, 238, 238);
}

main{
    /* display: inline; */
    width: 70%;
}

aside{
    /* display: inline; */
}

img{
    width: 95%;
    height: 300px;
    object-fit: contain;
}

.imgWrapper{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 295px;
    float: right;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote, h1, h3{
    font-family: Georgia, serif;
}

aside a{
    color: rgb(0, 153, 0);
    text-decoration: none;
}

#firstImg{
float: right;
}

p{
    margin-bottom: 10px;
}