 <!-- {{#if errors}}
    <div class="error-box">
        {{#each errors}}
            <p>{{msg}}</p>
        {{/each}}
    </div>
{{/if}} 

{{#if hasUser}}
{{else}}
{{/if}}

{{#if hasUser}}
{{else}}
{{/if}}
-->

{{{body}}}

