@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

@media screen and (max-width: 600px){
    
}

:root{
    --clt-white: ;
    --clr-black: ;
    --clr-grey: ;
    --clr-red: ;
}