
      <h1>Browser</h1>
      <form action="/" method="GET">
        <input type="text" class="search" name="search" placeholder="Search..." value="{{query.search}}">
        <input type="number" name="from" class="difficulty" placeholder="Difficulty from..."value="{{query.from}}">
        <span>-</span>
        <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{query.to}}">
        <input type="submit" value="search">
      </form>
      
      <div id="cubs">
      {{#each cubs}}
      {{> cubPreview}}
      {{else}}
      <p>No cubs in database. <a href="/create">Create the first listing!</a></p>
      {{/each}}
      </div>

      <script src="/static/js/app.js"></script>
      
      
